[Desktop Entry]
Name=Senia Fix Desktop
Comment=Senia fixed desktop settings
Exec=/usr/bin/senia-fix-desktop
Icon=epoptes
Terminal=false
Type=Application
Categories=Settings;System;
# X-GNOME-AutoRestart=true
