[Desktop Entry]
Version=1.0
Name=TIC Virtual
Comment=Algunos problemas habituales
GenericName=Coordinador TIC Virtual
Type=Application
Exec=senia-virtual-tic
Icon=/usr/share/senia-virtual-tic/senia-virtual-tic.jpg
Terminal=false
StartupNotify=true
Categories=Accesories;
MimeType=text/plain;
